@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap");

div {
  font-family: "Poppins", sans-serif;
}

.greatVibes {
  font-family: "Great Vibes", cursive;
}

.sulphurPoint {
  font-family: "Sulphur Point", sans-serif;
}

/* Navbar */
.navbarBg {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.logo {
  color: rgb(146, 72, 146);
}

.link {
  text-decoration: none !important;
}

.navbarBrandLogo {
  border-radius: 50px 0px 50px 0px;
  background-color: rgba(82, 78, 78, 0.144);
  padding: 20px;
}

.navbarBtn {
  background-color: #06070849;
  border: 0;
  border-radius: 56px;
  color: rgb(65, 33, 65) !important;

  cursor: pointer;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 5px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.navbarBtn:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.navbarBtn:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

.navLink {
  color: gray !important;
  font-size: 20px;
  margin: 0px 0px 0px 10px;
  text-decoration: none;
}

.navLink:hover {
  color: #a068a2 !important;
  font-size: 20px;
  margin: 0px 0px 0px 10px;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .navbarBtn {
    padding: 16px 48px;
  }
  .navLink {
    color: gray !important;
    font-size: 20px;
    margin: 0px 0px 0px 10px;
    text-decoration: none;
    margin-top: 10px !important;
  }
}

/* sign up page */
.sigUp {
  top: 75% !important;
}

.textAreaBio {
  color: white !important;
  background: #b8b8b8;
  background: -webkit-linear-gradient(to right, #924892, #b8b8b8);
  background: linear-gradient(to right, #924892, #b8b8b8);
}

.textAreaBio:focus {
  box-shadow: none !important;
  outline: none;
}

.center {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  color: black;
  background: #b8b8b8;
  background: -webkit-linear-gradient(to right, #924892, #b8b8b8);
  background: linear-gradient(to right, #924892, #b8b8b8);
  margin: auto;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.3),
    0px 30px 60px 1px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 50px;
}
.center h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}
.center form {
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field {
  position: relative;
  border-bottom: 2px solid #000 !important;
  margin: 30px 0;
}
.txt_field .form__input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #000 !important;
  transform: translateY(-50%);
  pointer-events: none;
  margin-bottom: 20px !important;
}
.txt_field span::before {
  content: " ";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0;
  height: 2px;
  background: #000;
  transition: 0.5s;
}
.txt_field .form__input:focus ~ label,
.txt_field .form__input:valid ~ label {
  top: -5px;
  color: #000;
}
.txt_field .form__input:focus ~ span::before,
.txt_field .form__input:valid ~ span::before {
  width: 100%;
}
.form__input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #000;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  outline: none;
}
.form__input[type="submit"]:hover {
  border-color: #000;
  transition: 0.5s;
}
.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a {
  color: #000;
  text-decoration: none;
}
.signup_link a:hover {
  text-decoration: underline;
}

.form__input {
  box-shadow: none !important;
}

.iconRegnLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px !important;
}

.btn__form {
  display: flex;
  justify-content: flex-end;
}

.form__btn {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.form__btn:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.form__btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.form__btn:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

/* post */
.post__card {
  border: 2px solid #924992 !important;
  border-radius: 14px;
  background: #e1d1d1;
  box-shadow: 35px 35px 71px #bfb2b2, -35px -35px 71px #fff0f0;
  min-height: 65vh !important;
}

.post__title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: "Sulphur Point", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}

.post__category {
  background-color: #924992ec;
  padding: 2px 5px;
  color: white !important;
}

.post__content {
  text-align: justify;
  text-justify: inter-word;
}

.card {
  width: 380px;
  border: none;
  border-radius: 15px;
  padding: 8px;
  background-color: #fff;
  position: relative;
  height: 370px;
}

.user {
  position: relative;
}

.profile img {
  height: 80px;
  width: 80px;
  margin-top: 2px;
}

.profile {
  position: absolute;
  top: -50px;
  left: 38%;
  height: 90px;
  width: 90px;
  border: 3px solid #fff;

  border-radius: 50%;
}

.profile__dropdown {
  text-decoration: none;
  color: gray;
}

.profile__dropdown:hover {
  color: gray;
}

.blog__search {
  width: 400px;
  height: 50px;
  background-color: #9e4a93;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.blog__search > input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
}

.bgColor{
  background-color: #924892 !important;
}

.post__edit{
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
  border: 1px solid green;
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
  cursor: pointer;
}

.post__delete{
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  border: 1px solid red;
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navLink {
    margin-top: 10px !important;
  }
  .navbarBtn {
    background-color: #06070849;
    border: 0;
    border-radius: 56px;
    color: rgb(65, 33, 65) !important;
    margin-top: 20px !important;
  }
}
